
body {
    background-image: linear-gradient(rgb(48, 48, 48), rgb(0, 0, 0));
    height: 100vh;
    font-family: 'Major Mono Display', monospace;  
}

header {
    padding: 20px;
    text-align: center;
    background: #f8f8f8;
    color: rgb(34, 34, 34);
    font-size: 25px;
}

#header h1 {
    font-family: 'Major Mono Display', monospace;
}

#scoreboard {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color:aliceblue;
    font-family: 'Major Mono Display', monospace;
    height: 123px;
}

#scoreboard span {
    font-size: 35px;
    font-weight: 700;
    color: #caffe6;
}


hr.solid {
    border-top: 2px solid rgb(248, 248, 248);
    border-bottom: 0px;
    border-radius: 4px;
    margin-top: 0;
}
#scoreboard div {
    display: flex;
    flex-direction: column;
}


.vl {
    border-left: 2px solid rgb(248, 248, 248);
}

#result p, #game-count p {
    color: rgb(255, 241, 213);
    font-family: 'Azeret Mono', monospace;
    font-size: 23px;
    padding: 5%;
    text-align: center;
}

#choices{
    display: flex;
    justify-content: space-evenly;
    padding: 5%;
    height: 115px;
}

#rock img, #paper img, #scissors img {
    height: 100px;
    width: 100px;
    transition: all, 0.3s ease-out;
}

#rock img:hover, #paper img:hover, #scissors img:hover {
    height: 110px;
    width: 110px;
    cursor: pointer;
    transition: all, 0.3s ease-out;
}

